
body {
  font-family: Arial, sans-serif;
  background-color: #b3bebe;
  margin: 0;
  padding: 60px;
}


.invoice {
  display: flex;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.left-section, .right-section {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.right-section {
    width: 30%;
}


.left-row1, .left-row2, .left-row3, .left-row4,
.right-row1, .right-row2, .right-row3, .right-row4 {
  padding: 10px;
}
.left-row1, .right-row1 {
    height:70px ;
    text-align: center;
}
.left-row2, .right-row2 {
    height: 180px;
}
.left-row3, .right-row3 {
    height: 180px;
}
.left-row4, .right-row4 {
    height: 400px;
}
.right-row2 {
    text-align: center;
}


.left-row1 { background-color: #cbd1cf; } 
.left-row2 { background-color: #f9f9f9; }
.left-row3 { background-color: #cbd1cf; }
.left-row4 { background-color: #fcfafa; }

.right-row1 { background-color: #011a1b; color: #ffffff; }
.right-row2 { background-color: #012120f4; color: #ffffff; }
.right-row3 { background-color: #011a1b; color: #ffffff; }
.right-row4 { background-color: #012120f4; color: #ffffff; }


.company-name {
  font-size: 22px;
  font-weight: bold;
}

.tagline {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  margin-top:   10px;
  margin-bottom: 8px;
  
}

.notes-text, .client-info, .terms {
  font-size: 13px;
  margin-bottom: 15px;
}
.hija1 {
    display: flex;
    flex-direction: column;
    gap: 1px;
    
}
.left-row2 {
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.hija5 {
    display: flex;
    flex-direction: row;
}


.totals2 {
    
    text-align: right;
    margin-right: 30px;
    font-size: 14px;
    
}



.product-table, .total-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.product-table th, .product-table td,
.total-table th, .total-table td {
  padding: 10px;
  border-bottom: #ccc;
  font-size: 13px;
  text-align: center;
}

.product-table td:last-child,
.total-table td:last-child {
  text-align: center;
}

.total-table td:first-child {
  text-align: left;
}

.payment-method label {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
}

.card-info {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.card-info input {
  flex: 1;
  padding: 6px;
  font-size: 12px;
}


.invoice-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.invoice-info {
  font-size: 14px;
  margin-bottom: 12px;
}

.totals {
  margin-top: 10px;

}

.totals p {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 6px;
}

.final-total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.signature-line {
  margin-top: 210px;
  border-top: 1px solid #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
.signature-line {
    text-align: center;
    color: #fff;
    font-size: 14px;
}



